{% extends 'base.html' %}
{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">We <span><3 </span> people who code</h1>
        <p class="hero-paragraph">
            We build products that empower developers and connect them to solutions that enable productivity, growth, and discovery.
        </p>
        <div class="hero-options">
            <a href="#" class="btn btn-developers">For developers</a>
            <a href="#" class="btn btn-businesses">For businesses</a>
            <a href="{% url 'stackbase:question-lists' %}" class="btn btn-developers" style="margin-left: 5px;">Latest Questions</a>

        </div>
    </div>
</section>





{% endblock content %}
